<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Azure Key Vault -->
    <add key="AzureKeyVault_ClientId" value="client ID goes here" />
    <add key="AzureKeyVault_ClientSecret" value="client secret goes here" />
    <add key="AzureKeyVault_KeyVaultBaseUrl" value="https://xxxxxxxxxxxxxxxxxxxx.vault.azure.net" />
    <add key="AzureKeyVault_KeyName" value="key vault name goes here" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
