<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <!-- this is correct for the lab -->
    <!-- 
    <add name="MarketPrices" 
         connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DPS900)(PORT=1521))(CONNECT_DATA=(SID=drxmktp1)));Password=MKTADMIN;Persist Security Info=True;User id=MKTADMIN;Pooling=False"/>
    -->

    <!-- this is correct for live -->
    <add name="MarketPrices" 
         connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=MARKETPRICESDB)(PORT=1521))(CONNECT_DATA=(SID=drxmktp1)));Password=MKTADMIN;Persist Security Info=True;User id=MKTADMIN;Pooling=False"/>

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>