<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EdlWebServiceSoap" />
        <binding name="eTradeGatewaySoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dps145/eTradeGateway/eTradeGateway.asmx"
        binding="basicHttpBinding" bindingConfiguration="eTradeGatewaySoap"
        contract="eTradeGatewayService.eTradeGatewaySoap" name="eTradeGatewaySoap" />
      <endpoint address="http://localhost:41192/EdlWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="EdlWebServiceSoap"
        contract="EdlWebService.EdlWebServiceSoap" name="EdlWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>